$primary-color: #5f5f5f;
$warapper-width: 140rem;
$warapper-height: 102.4rem;

.App {
  color: $primary-color;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: red;
}

.Wrapper {
  height: 100%;
  width: 100%;
  max-width: $warapper-width;
  background-color: #5f5f5f;
  display: flex;
  flex-direction: row;
}
